<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PfhObjIAX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ProtocolTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProtocolTestTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VUCCaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iosaudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>objiax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>221BEDD8137B072F00AFB367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223E2C21137AFF3500A983F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223E2C42137AFF3500A983F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228AECEB13951A92008FCE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A65DFF137ED1F600FB4644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DDDE2D1174CCBF003C1E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E1161C1395255D0094E9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E64EDF13952D4700196D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
